# .github/workflows/build-firmware.yml
name: Build ZMK firmware org
on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'config/**'
      - 'build.yaml'
      - '.github/workflows/**'
  pull_request:
    paths:
      - 'config/**'
      - 'build.yaml'
      - '.github/workflows/**'

jobs:
  build:
    uses: ./.github/workflows/build-user-config-local.yml
    with:
      build_matrix_path: build.yaml
      config_path: config
      archive_name: firmware